<template name="resume">
<div class="large-12 columns resume fullHeight">
  <div class="large-12 panel">
    <div class="button">
      <img src='assets/vector/arrow_up_alt2.svg'/>
      Download PDF
    </div>
    <div class="button">
      Find me on LinkedIn
    </div>
  </div>
  <div class="large-7 columns fullHeight">
    <div class="panel fullHeight">
      <h2>Experience</h2><br>
        <h3>Developer Intern</h3>
          <h4>Salesforce</h4>
            <h5>May 2013 to present</h5>
              <p>Declarative App Builder team. Improved the page layout editor
              for other Sfdc platform developers to be able to use.</p>
        <h3>Undergraduate Researcher</h3>
          <h4>Cognitive Neuroscience Laboratory</h4>
            <h5>August 2012 - May 2013</h5>
              <p>tracking social data</p>
        <h3>Teaching Fellow</h3>
          <h4>Harvard School of Engineering and Applied Sciences</h4>
            <h5>August 2012 - January 2013</h5>
              <p>cs50 shenanigans</p>
        <h3>Software Engineer Intern</h3>
          <h4>Google</h4>
            <h5>June 2012 - August 2012</h5>
              <p>insert stuff. cminterns awfe</p>
        <h3>
    </div>
  </div>
  <div class="large-5 columns fullHeight">
    <div class="panel">
        <h2>Education</h2><br>
          <h3>Harvard University</h3>
            <h4>A.B. in Computer Science, expected May 2015</h4><br>
          <h3>Menlo School</h3>
            <h4>Graduated May 2011</h4>
    </div>
    <div class="panel">
      <h2>Organizations and Activities</h2><br>
        <h3>Chinatown Afterschool</h3>
          <h4>co-director</h4><br>
        <h3>Harvard Women in CS</h3>
          <h4>Chair of Media and Web (2012-2013)<h4><br>
        <h3>hopefully..Ultimate Frisbee (Quasar)</h3><br>
        <h3>hopefully..IOP something something</h3><br>
    </div>
    <div class="panel">
      <h2>Skills</h2><br>
        <p>C . Java . JavaScript . PHP . MySQL . NoSQL . Python</p>
        <p>Dabbled in Ruby on Rails, Android development, Objective C</p>
  </div>
</div>
</template>
